<script>
    document.cookie = "country={{lang}}";
</script>


<header class="site-header">
    
    <section class="logo">
        <a href="#" title="Lane Crawford">
            <img src="http://media.lanecrawford.com/images/lc-logo.svg" alt="Lane Crawford" class="logo__image">
        </a>
    </section>

    This is the {{ __ "home" }} Page, {{ __ "fool" }}.
    

</header>