<img
    class="hero" 
    src="{{ product.essentialInfo.heroImage }}" 
    alt="{{ product.essentialInfo.brandName }} | {{ product.essentialInfo.displayName }}">

<p>
    {{{ product.essentialInfo.description }}}
</p>