    
    <meta charset="UTF-8">
    <title>Lane Crawford {{#if title }}- {{ title }}{{/if}}</title>

    <script>document.cookie = "country={{lang}}";</script>
    <link rel="stylesheet" href="/assets/css/style.css">