
    {{> header }}
    

    <div class="pdp-wrapper">

        {{> pdp/header }}
        
        {{> pdp/hero }}
        
        <hr>
        
        <button>{{ __ "checkout" }}</button>
        {{ product.priceInfo.listPirce }}

    </div>
    
    
    {{> pdp/recent }}