
    {{> header }}
    
    
    <div class="pdp-wrapper">

        {{> pdp/header }}
        
        {{> pdp/hero }}
        
        <hr>

        <button>{{ __ "checkout" }}</button>

    </div>
    
    
    {{> pdp/recent }}